/**************************** Estilos personalizados para la navbar *****************************/
 
.navbar-custom {
    background-color: #f3c7c7fc; /* Color de fondo negro */
    box-shadow: 0 0 20px rgba(227, 222, 222, 0.2); /* Sombra roja */
}

.navbar-custom .navbar-toggler-text {
    color: #ff0000; /* Color rojo para el texto del botón del menú */
    font-weight: bold; /* Texto más grueso */
}

.navbar-custom .nav-link {
    color: #ff0000; /* Color rojo para los enlaces */
    font-weight: bold; /* Texto más grueso */
}

.navbar-custom .nav-link:hover {
    color: #e9a8a8; /* Cambia el color del texto al pasar el ratón por encima */
}


/*******************************************/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0abab;
    background-image: url('img/backgg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Ajusta la altura del cuerpo al 100% de la altura de la ventana */
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-text {
    margin-bottom: 20px;
}

.section-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #ff0000; /* Cambiado a rojo */
    color: #ff0000; /* Cambiado a rojo */
    border-radius: 5px;
}

.section-button:hover {
    background-color: #cc0000; /* Cambiado a un tono más oscuro de rojo */
    color: #fff;
}

/* Estilos para los botones */
 


/* Estilos para los botones */
 

 
/* Sobrescribe los estilos de Bootstrap para los botones */
 
.btn-outline-primary {
    color: #9b8f8f; /* Color del texto en rojo */
    background-color: transparent !important; /* Fondo transparente */
    border-color: #ff0000 !important; /* Color del borde rojo */
}

.btn-outline-primary:hover {
    color: #040404; /* Color del texto en blanco al pasar el mouse */
    background-color: #f76363 !important; /* Color de fondo rojo más oscuro al pasar el mouse */
    border-color: #fb5858 !important; /* Color del borde rojo más oscuro al pasar el mouse */
}

.blurp {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    padding: 20px;
    border-radius: 10px;
}

.blurp-title,
.blurp-text {
    color: #fff; /* Color del texto blanco */
}

.blurp-title {
    margin-bottom: 10px;
}

